page-login {
    .background {
        background: #fce4ec;
    }

    .scroll-content {
        text-align: center;
        color: #fff;
    }
    ion-card.card {
        box-shadow: none;
        background: #d81b60;
        border-radius: 5px;
    }

    a, p,
    ion-card-header.card-header {
        color: #fff!important;
    }
}
