page-login {
  .scroll-content {
    overflow: hidden;

    ion-list {
      vertical-align: middle;
      text-align: center;
    }
    ion-col {
      padding-left: 7%;
      padding-right: 7%;

      h2 {
        color: black;
      }
    }
    .item-md {
      padding-left: 0;
      padding-right: 0;
    }
    .button-md {
      background: repeating-linear-gradient(30deg,  color($colors, fadedred, base), color($colors, mac, base));
    }
    .button-clear-md:hover {
      color: color($colors, ashygray, base);
    }
    .note-md {
      color: green;
      font-size: 30px;
    }
    .item-md.item-label-floating [item-end] {
      margin-top: 28px;
      margin-bottom: auto;
    }

    .item-ios {
      padding-left: 0;
      padding-right: 0;
    }
    .button-ios {
      background: repeating-linear-gradient(30deg,  color($colors, fadedred, base), color($colors, mac, base));
    }
    .button-clear-ios:hover {
      color: color($colors, ashygray, base);
    }
    .note-ios {
      color: green;
      font-size: 30px;
    }
    .item-ios.item-label-floating [item-end] {
      margin-top: 33px;
      margin-bottom: auto;
    }
    .line-break {
      display: block;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      font-size: 1.2em;
      color: #9b9b9b;
    }
    .line-break > span {
      position: relative;
      display: inline-block;
    }
    .line-break > span:before,
    .line-break > span:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 9999px;
        height: 1px;
        background: #9b9b9b;
    }
    .line-break > span:before {
      right: 100%;
      margin-right: 15px;
    }
    .line-break > span:after {
      left: 100%;
      margin-left: 15px;
    }
  }
}
