page-register {

  .scroll-content {
    overflow: hidden;

    ion-list {
      vertical-align: middle;
      text-align: center;
    }
    ion-col {
      padding-left: 7%;
      padding-right: 7%;
    }

    .item-md {
      padding-left: 0;
      padding-right: 0;
    }
    .note-md {
      color: green;
      font-size: 30px;
    }
    .item-md.item-label-floating [item-end] {
      margin-top: 30px;
      margin-bottom: auto;
    }

    .item-ios {
      padding-left: 0;
      padding-right: 0;
    }
    .note-ios {
      color: green;
      font-size: 30px;
    }
    .item-ios.item-label-floating [item-end] {
      margin-top: 30px;
      margin-bottom: auto;
    }
  }
}

