<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
    <ion-card>
        <ion-card-header>
            Register
        </ion-card-header>
        <ion-card-content>
            <ion-list no lines>
                <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
                    <ion-item>
                        <ion-label floating>Email Address</ion-label>
                        <ion-input type="email" [(ngModel)]="user.email" name="email" #userEmail="ngModel" required></ion-input>
                    </ion-item>
    
                   <div *ngIf="userEmail.errors?.required && userEmail.touched">Email is required</div>
                   
                    <ion-item>
                        <ion-label floating>Password</ion-label>
                        <ion-input type="password" [(ngModel)]="user.password" name="password" #userPassword="ngModel" required></ion-input>
                    </ion-item>

                    <div *ngIf="userPassword.errors?.required && userPassword.touched">Password is required</div>

                    <ion-item>
                        <ion-label floating>User Name</ion-label>
                        <ion-input type="text" [(ngModel)]="user.username" name="username" #userName="ngModel" required></ion-input>
                    </ion-item>

                    <div *ngIf="userName.errors?.required && userName.touched">Name is required</div>

                    <button ion-button type="submit" value="Submit" round outline block>Sign Up</button>
                </form>
                <button ion-button round outline block (click)="goBack()">Go Back</button>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>