# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
*.code-workspace
.vscode/
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
environments/
$RECYCLE.BIN/

# Custom
firebase-rules.json
.editorconfig

# Cloud functions
functions/node_modules

# Service account credentials
ashy-dev-3662f-firebase-adminsdk-hw09n-81434c603b.json

# Android
google-services.json

# iOS
.DS_Store
Pods/
Podfile.lock
xcuserdata/
*.xcworkspace/

# Windows
Thumbs.db
UserInterfaceState.xcuserstate
