.ios,
.md {
  page-profile-detail {

    ion-navbar.toolbar .button-inner {
      font-size: 25px;
      -webkit-text-stroke: 3px white;
      color: color($colors, pastelred, base);
    }

    align-content: center;
    margin-bottom: 150px;
    display: block;
    justify-content: center;
    text-align: center;

    img {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      border: 4px solid rgba(255, 255, 255, 0.4);
      -webkit-box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.5);
    }

    .scroll-content {
      overflow: hidden;
    }

    .edit-account {
      display: block;
      border-bottom: 1px solid lightgray;
    }

    .input-wrapper {
      font-size: 1.5rem;
    }

    ion-item.item.item-block.item-toggle {
      border-bottom: 1px solid lightgray;
    }

    .note {
      font-size: 1.5rem;
      color: color($colors, fadedred, base);
    }

    .note.last-seen {
      font-size: 1.2rem;
      color: color($colors, ashygray, base);
    }

    p {
      font-size: 1.4rem;
      color: color($colors, ashygray, base);
    }
    span {
      font-size: 1.4rem;
      color: color($colors, danger, base);
    }

    span.private-username {
      font-size: 1.5rem;
      color: color($colors, danger, base);
    }

    span.public-username {
      font-size: 1.5rem;
      color: color($colors, primary, base);
    }

    @media screen and (max-width: 320px) {
      p {
        font-size: 1.3rem;
        color: color($colors, ashygray, base);
      }
      span {
        font-size: 1.3rem;
        color: color($colors, danger, base);
      }
    }
  }
}
