<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>Your Account</ion-title>
    <ion-buttons left>
      <button ion-button (click)="dismissModal()">
        <i class="fa fa-times"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-row class="edit-account">
    <ion-list>
      <button ion-item (click)="goToEditDisplayname()">
        Display Name
        <ion-note item-end>
          {{user.displayName}}
        </ion-note>
      </button>
      <button ion-item (click)="goToEditStatusMessage()">
        Status Message
        <ion-note *ngIf="user.statusMessage" item-end>
            {{(user.statusMessage.length > 11)? (user.statusMessage | slice:0:11)+'...' : (user.statusMessage)}}
          </ion-note>
      </button>
      <ion-item>
        Member for
        <ion-note class="signup-date" item-end>
          {{user.signupAt | simpleRelativeTime}}
        </ion-note>
      </ion-item>
      <button ion-item (click)="goToEditUsername()">
        Your Username
        <ion-note item-end>
          {{user.username}}
        </ion-note>
      </button>
      <button ion-item (click)="goToChangeEmail()">
        Email
        <ion-note item-end>
          {{user.email}}
        </ion-note>
      </button>
      <button ion-item (click)="goToChangePassword()">
        Change Password
      </button>
      <ion-item>
        <ion-toggle color="dodger" [(ngModel)]="hideUsername" (ionChange)="hideMyUsername($event)"></ion-toggle>
        <ion-label *ngIf="!hideUsername">
          Make my username
          <span class="private-username">private</span>
        </ion-label>
        <ion-label *ngIf="hideUsername">
          Make username back to
          <span class="public-username">public</span>
        </ion-label>
      </ion-item>
    </ion-list>
    <p *ngIf="!user.gender">Once you selected, gender
      <span>cannot change again</span>
    </p>
    <div *ngIf="user.gender;then yourgender else pickgender"></div>

    <ion-list radio-group>
      <ng-template #pickgender>
        <ion-item>
          <ion-label>Male</ion-label>
          <ion-radio (ionSelect)="chooseGender('male')" checked="pickedGender" [disabled]="pickedGender"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Female</ion-label>
          <ion-radio (ionSelect)="chooseGender('female')" checked="pickedGender" [disabled]="pickedGender"></ion-radio>
        </ion-item>
      </ng-template>
      <ng-template #yourgender>
        <p>Your gender is {{user.gender}}</p>
      </ng-template>
    </ion-list>
  </ion-row>

</ion-content>
