.ios,
.md {
  page-profile-detail {

    ion-navbar.toolbar .button-inner {
      font-size: 25px;
      -webkit-text-stroke: 3px white;
      color: color($colors, pastelred, base);
    }

    align-content: center;
    margin-bottom: 150px;
    display: block;
    justify-content: center;
    text-align: center;

    img {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      border: 4px solid rgba(255, 255, 255, 0.4);
      -webkit-box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.5);
    }

    .scroll-content {
      overflow: hidden;
    }

    .item-ios[detail-push] .item-inner, button.item-ios:not([detail-none])
    .item-inner, a.item-ios:not([detail-none]) .item-inner {
      padding-right: 25px;
    }

    .require {
      color: color($colors, warning, base);
      &.verification {
        .note.unverified-email {
          font-size: 1.2rem;
          color: color($colors, warning, base);
        }
      }
    }

    .edit-account {
      display: block;
      border-bottom: 1px solid lightgray;
    }

    .input-wrapper {
      font-size: 1.7rem;
    }

    ion-item.item.item-block.item-toggle {
      border-bottom: 1px solid lightgray;
    }

    .note {
      font-size: 1.5rem;
      color: color($colors, ashygray, base);
    }

    .note.signup-date {
      font-size: 1.4rem;
      color: color($colors, ashygray, base);
    }

    .note.user-email {
      font-size: 1.4rem;
      color: color($colors, ashygray, base);
    }

    p {
      font-size: 1.5rem;
      color: color($colors, ashygray, base);
    }
    span {
      font-size: 1.5rem;
      color: color($colors, warning, base);
    }

    span.private-username {
      font-size: 1.5rem;
      color: color($colors, warning, base);
    }

    span.public-username {
      font-size: 1.5rem;
      color: color($colors, primary, base);
    }

    @media screen and (max-width: 320px) {
      p {
        font-size: 1.3rem;
        color: color($colors, ashygray, base);
      }
      span {
        font-size: 1.3rem;
        color: color($colors, warning, base);
      }
      .input-wrapper {
        font-size: 1.5rem;
      }
      .note {
        font-size: 1.3rem;
        color: color($colors, ashygray, base);
      }
      .note.signup-date {
        font-size: 1.2rem;
        color: color($colors, ashygray, base);
      }

      .note.user-email {
        font-size: 1.2rem;
        color: color($colors, ashygray, base);
      }
    }
  }
}
