<!--
  Generated template for the UsernamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="ios-header">
    <ion-title>Username</ion-title>
      <ion-buttons right>
        <button ion-button color="dark" [disabled]="usernameNotValid" (click)="saveUsername()">
            SAVE
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-item>
        <ion-label color="primary" stacked>Change username whenever I want</ion-label>
        <ion-input name="username" #name="ngModel" type="text" maxlength="18" clearInput placeholder="Letters or numbers ONLY" [(ngModel)]="usernameText" (keyup)="checkUsername()"></ion-input>
    </ion-item>


    <p class="isAvailable" *ngIf="isUsernameAvailable && usernameText && !hasSetUsername && !usernameNotValid">
        @{{usernameText}} is available
    </p>
    <p class="isNotAvailable" *ngIf="!isUsernameAvailable && usernameText && !hasSetUsername && !usernameNotValid">
        @{{usernameText}} has already been taken
    </p>

    <p class="isNotAvailable" *ngIf="usernameNotValid && usernameText">
        @{{usernameText}} is not valid
    </p>

    <p *ngIf="hasSetUsername">
        Your username is @{{currentUsername}} from now on
    </p>

</ion-content>
