page-profile {

    ::-webkit-scrollbar{
        display:none;
    }

    ion-content {
        background-image: url('https://static.pexels.com/photos/132340/pexels-photo-132340.jpeg');
        background-size: cover;
        background-position-x: 50%;
    }

    p {
        font-size: 1.4rem;
        color: #000;
    }

    img {
        height: 150px;
        width: 150px;
        border-radius:50%;
        border: 1px solid rgba(255,255,255,0.4);
        -webkit-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.5);
    }

    .section-a {
        display: relative;
        justify-content: center;
        align-content: center;
        text-align: center;

        p.statusMessage {
            font-size: 3rem;
            color: #fff;
        }
    }

    .section-b {
        display: relative;
        justify-content: center;
        align-content: center;
        text-align: center;

        p {
            font-size: 1.5rem;
            color: #000;
        }

        p.interest {
            font-weight: bold;
            font-size: 1.5rem;
            color: #1de9b6;
        }
    }

    .ng-progress {
        margin-top: 60px;
    }

    .bar-shadow {
        display: none;
    }
}

#file-input {
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      left: 0;
      z-index: 999;
  }