<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar transparent>
    <ion-buttons left>
        <button ion-button color="cherry" (click)="backToPreviousView()">
            <i class="fa fa-times fa-2x" aria-hidden="true"></i>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>

    <ng-progress [minimum]="0.1" [maximum]="1" [color]="'red'" [speed]="currentUpload?.progress" [thick]="true" [showSpinner]="true"></ng-progress>
    <ion-grid>
        <ion-row align-items-center class="section-a">
            <ion-col col-12 *ngIf="statusMessage">
                <p class="statusMessage">{{statusMessage}}</p>
            </ion-col>
        </ion-row>

        <ion-row align-items-center class="section-b">
            <ion-col col-12>
                <input type="file" id="file-input" showWhen="core" (change)="detectFiles($event)">
                <img *ngIf="previewImage;then previewImg else customImg">
                <ng-template #previewImg><img [src]="previewImage"></ng-template>
                <ng-template #customImg><img [src]="avatar" (click)="showOriginalImage()"></ng-template>
            </ion-col>

            <ion-col col-12>
                <button ion-button color="secondary" showWhen="core" (click)="uploadSingleFile()">Upload an image</button>
                <button ion-button color="danger" showWhen="core" (click)="deleteUploadFile()">Remove Photo</button>
            </ion-col>

            <ion-col col-12>
                <h2>{{displayName}}</h2>
                <p>Friends 488</p>
                <p class="interest">#아이오닉 #개발 #채팅 #독서 #맛집탐방</p>
            </ion-col>

            <ion-col col-12 *ngIf="currentUser === user.uid">
                <button ion-button outline round color="dark" (click)="editProfile()" icon-end>
                    Edit Profile
                    <ion-icon ios="ios-color-wand" md="md-color-wand"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-12 *ngIf="currentUser !== user.uid">
                <button ion-button outline round color="primary" (click)="openChatRoom()" icon-end>
                    Chat
                    <ion-icon name="ios-chatbubbles"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>