<ion-list>
  <ion-row>
    <ion-col>
      <p>{{infoMessage}}</p>
    </ion-col>
    <ion-col col-12>
      <div [ngClass]="{'form-error': formError }">
        <ion-input class="email-input" #inputBox [formControl]="emailControl" [(ngModel)]="currentEmail" (ionChange)="formValidator()"
          type="email" placeholder="Email"></ion-input>
        <span item-content *ngIf="emailControl.errors?.required || emailControl.errors?.patternInvalid">
          <p>Please enter a valid email address.</p>
        </span>
        <div class="button-wrapper" *ngIf="emailControl.errors?.required || emailControl.errors?.patternInvalid">
          <button ion-button outline clear class="clear-error" (click)="clearFormError()">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
    </ion-col>
    <ion-col col-12 *ngIf="emailControl.valid && currentEmail !== pristineEmail">
      <button ion-button block (click)="authenticateCredential(emailControl)">
        {{labelName}}
      </button>
    </ion-col>
    <ion-col col-12 *ngIf="!verifiedState && currentEmail === pristineEmail">
        <button ion-button outline clear (click)="sendVerificationLink()">
          Resend verification email
        </button>
      </ion-col>
    <ion-col>
        <p *ngIf="currentEmail === pristineEmail">{{verifiedMessage}}</p>
        <p *ngIf="currentEmail !== pristineEmail">{{warningMessage}}</p>
      </ion-col>
  </ion-row>
</ion-list>
