<ion-content padding no-bounce>
  <div ion-fixed>
    <ion-grid>
      <ion-row class="section-a">
        <h2>You are almost there!</h2>
        <img *ngIf="placeholder;then previewImg else customImg">
        <ng-template #previewImg>
          <img [src]="placeholder" (click)="presentActionSheetUploadProfilePicture()">
        </ng-template>
      </ion-row>
      <ion-row class="section-b">
        <ion-input type="text" minlength="1" maxlength="20" [(ngModel)]="displayName" placeholder="Choose your display name" onfocus="this.placeholder = ''"
          onblur="this.placeholder = 'Choose your display name'"></ion-input>
      </ion-row>
      <ion-row class="section-c">
        <button ion-button full [disabled]=!displayName (click)="startApp()">
          <span *ngIf="!isClicked">START ASHY</span>
          <img *ngIf="isClicked" src="assets/svgs/bars-50.svg">
        </button>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
