<ion-row>
  <ion-col col-12>
    <ion-item>
      <ion-label floating>EMAIL</ion-label>
      <ion-input #emailInput type="email" [(ngModel)]="user.email" name="email" #userEmail="ngModel"
      required pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
      <ion-note item-end *ngIf="userEmail.valid">
        <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
      </ion-note>
    </ion-item>
  </ion-col>
  <ion-col col12>
    <ion-item>
      <ion-label floating>PASSWORD</ion-label>
      <ion-input type="password" [(ngModel)]="user.password" #userPassword="ngModel" name="password" required minlength="7" (keyup.enter)="login()"></ion-input>
      <ion-note item-end *ngIf="userPassword.valid">
        <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
      </ion-note>
    </ion-item>
  </ion-col>
  <ion-col col-12>
    <button ion-button block [disabled]="!userEmail.valid || !userPassword.valid" (click)="this[functionName]()">{{ submitLabel }}</button>
  </ion-col>
</ion-row>
