page-friend {

  ion-navbar.toolbar .button-inner {
    font-size: 30px;
    margin-right: 20px;
  }

  ion-list {
    .default-list {
      text-align: center;
      margin-top: 40%;
      p {
        font-size: 1.1rem;
      }
    }
  }

}
