page-welcome {

  .scroll-content {
    overflow: hidden;
    height: 100%;
    width: 100%;
    background: repeating-linear-gradient(30deg, #7F7F7F, #FE635B);

    ion-list {
      vertical-align: middle;
      text-align: center;
    }

    .section-b {
      display: block;
      padding: 120% 10%;

      .button-clear-md-lightgray {
        color: color($colors, white, base);
      }
      .button-clear-md-lightgray:hover {
        color: color($colors, pastelred, base);
      }
      .button-clear-ios-lightgray {
        color: color($colors, white, base);
      }
      .button-clear-ios-lightgray:hover {
        color: color($colors, pastelred, base);
      }
    }

    ion-col {
      display: block;
      margin-top: 2%;
    }

    .section-c {
      left: 0;
      bottom: 0;
      position: absolute;
      display: block;
      width: 100%;
      a { color: inherit; }
      p {
        color: color($colors, lightgray, base);
        font-size: 1.0em;
      }
    }
  }

}
