page-welcome {

  .scroll-content {
    overflow: hidden;
    height: 100%;
    width: 100%;
    background: repeating-linear-gradient(30deg, color($colors, ashygray, base), color($colors, pastelred, base));

    ion-list {
      vertical-align: middle;
      text-align: center;
    }

    ion-col {
      display: block;
      margin-top: 2%;
    }

    .section-b {
      display: block;
      padding: 100% 10%;

      .button-md-twitter {
        background: repeating-linear-gradient(90deg, color($colors, dodger, base), color($colors, twitter, base));
      }
      .button-md-twitter:hover {
        color: color($colors, ashygray, base);
      }
      .button-md-blank {
        color: white;
        background: repeating-linear-gradient(30deg,  color($colors, fadedred, base), color($colors, mac, base));
      }
      .button-md:hover {
        color: color($colors, ashygray, base);
      }
      .button-clear-md-lightgray {
        color: white;
      }
      .button-clear-md-lightgray:hover {
        color: color($colors, mac, base);
        background-color: transparent;
      }
      .button-clear-md-lightgray:focus {
        background-color: transparent;
      }

      .button-ios-twitter {
        background: repeating-linear-gradient(90deg, color($colors, dodger, base), color($colors, twitter, base));
      }
      .button-ios-twitter:hover {
        color: color($colors, ashygray, base);
      }
      .button-ios-blank {
        color: white;
        background: repeating-linear-gradient(30deg,  color($colors, fadedred, base), color($colors, mac, base));
      }
      .button-ios:hover {
        color: color($colors, ashygray, base);
      }
      .button-clear-ios-lightgray {
        color: white;
      }
      .button-clear-ios-lightgray:hover {
        color: color($colors, mac, base);
      }
      .button-clear-ios-lightgray:focus {
        background-color: transparent;
      }
    }
    .section-c {
      left: 0;
      bottom: 0;
      position: absolute;
      display: block;
      width: 100%;
      a { color: inherit; }
      p {
        color: lightgray;
        font-size: 1.0em;
      }
    }
  }

}
