page-setting-group {

  ion-navbar.toolbar .button-inner {
    font-size: 25px;
    -webkit-text-stroke: 3px white;
  }

  ion-content {
    &.content {
      div.scroll-content {
        top: 0;
        width: 100%;
        height: 50%;
        overflow: hidden;
      }
    }

    &.content-md {
      top: 46%;
      border-radius: 14px;

      div.scroll-content {
        background-color: white;
        border-radius: 14px;
        padding: 10px;
      }
      .toolbar-background-md {
        background-color: white;
        border-bottom: 1px solid lightgray;
      }
    }

    &.content-ios {
      top: 46%;
      border-radius: 14px;

      div.scroll-content {
        background-color: white;
        border-radius: 14px;
        padding: 10px;
      }
      .toolbar-background-ios {
        background-color: white;
        border-bottom: 1px solid lightgray;
      }
    }
  }

  ion-item.item.item-block.item-md {
    padding: 0;
    background-color: transparent;
    padding-top: 5%;
  }
  ion-item.item.item-block.item-md:active {
    background-color: lightgray;
  }

  ion-item.item.item-block.item-ios {
    padding: 0;
    background-color: transparent;
    padding-top: 5%;
  }
  ion-item.item.item-block.item-ios:active {
    background-color: lightgray;
  }

  .item-text-middle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 14px;
    height: 100%;
    font-size: 1.6rem;
  }

  .item-icon-middle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 14px;
    height: 100%;
    color: color($colors, ashygray, base);
    font-size: 1.6rem;
  }
}
