<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>Reset Email</ion-title>
    <ion-buttons left *ngIf="showCloseBtn">
        <button ion-button color="dark" (click)="closeModal()">
            Close
        </button>
    </ion-buttons>
    <ion-buttons right>
        <button ion-button class="save-button" color="dark" [disabled]="!userEmail.valid" (click)="confirmUpdate()">
            Save
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col col-12>
        <ion-item>
            <ion-label color="primary" stacked>{{newEmail}}</ion-label>
            <ion-input type="email" #emailInput [(ngModel)]="newEmail" #userEmail="ngModel" placeholder="Enter your new email address"
            required pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
            <ion-note item-end *ngIf="userEmail.valid"><ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon></ion-note>
        </ion-item>
    </ion-col>
    <ion-col *ngIf="showCloseBtn">
        <p class="ashy-info">Please click <span class="primary">Re-send</span> button after updating the new email</p>
    </ion-col>
  </ion-row>
</ion-content>
