<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>Add Friends</ion-title>
    <ion-buttons left>
      <button ion-button (click)="closePage()">
          <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col>
        <ion-searchbar type="search" #searchInput maxlength="18" placeholder="Search" autocapitalize="none"
        debounce="0" [(ngModel)]="usernameText" (ionInput)="findUserWithUsername()"></ion-searchbar>
        <ion-item *ngIf="!usernameText">
          <p class="user-info">{{me.username}} is your username</p>
          <p class="user-info">{{me.displayName}} is how you appear on Ashy</p>
        </ion-item>
    </ion-col>
    <ion-col col-12>
      <ion-item *ngIf="(matchedUser$ | async) == null && usernameText && !foundSpecialChar && wellFormatedUsername" no-lines>
        <img [src]="magnify" alt="spinner by loading.io">
      </ion-item>
      <ion-item *ngIf="usernameText && foundSpecialChar" no-lines>
        <p class="warning-message">Can't include special characters</p>
      </ion-item>
      <ion-item *ngIf="usernameText && !wellFormatedUsername" no-lines>
        <p class="warning-message">A-Z or numbers only</p>
      </ion-item>
      <ion-list *ngFor="let user of matchedUser$ | async" no-lines>
        <ion-item *ngIf="user && !foundSpecialChar && wellFormatedUsername && usernameText">
          <ion-avatar item-start>
            <img-loader [src]="user.thumbnailURL"></img-loader>
          </ion-avatar>
          <h2>{{user.displayName}}</h2>
          <p>{{user.statusMessage}}</p>
          <button ion-button round outline color="primary" item-end *ngIf="isUserAllowedToSendRequest" [disabled]="currentUserId === user.uid" (click)="sendFriendRequest(user)">
            Send Request
          </button>
          <button ion-button round outline color="danger" item-end *ngIf="!isUserAllowedToSendRequest" [disabled]="true">
            Requested
          </button>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <a href="https://loading.io/spinner/magnify/-searching-for-loading-icon">spinner by loading.io</a>
</ion-footer>
