<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>Add Friend</ion-title>
    <ion-buttons left>
      <button ion-button color="dark" (click)="backToPreviousView()">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col>
      <ion-item>
          <ion-label color="primary" stacked>SEARCH USERNAME</ion-label>
          <ion-input type="text" #searchInput maxlength="18" [(ngModel)]="usernameText" clearInput (ionChange)="findUserWithUsername()"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-12>
      <ion-item *ngIf="usernameText && !foundMatchedUser && !foundSpecialChar && wellFormatedUsername" no-lines>
        <img [src]="magnify" alt="spinner by loading.io">
      </ion-item>
      <ion-item *ngIf="usernameText && foundSpecialChar" no-lines>
        <p class="warning-message">Can't include special characters</p>
      </ion-item>
      <ion-item *ngIf="usernameText && !wellFormatedUsername" no-lines>
        <p class="warning-message">A-Z or numbers only</p>
      </ion-item>
      <ion-item *ngIf="foundMatchedUser && !foundSpecialChar && wellFormatedUsername && usernameText" no-lines>
        <ion-avatar item-left>
          <img-loader [src]="avatar"></img-loader>
        </ion-avatar>
        <h2>{{displayName}}</h2>
        <button ion-button *ngIf="isUserAllowedToSendRequest" color="primary" [disabled]="matchedWithCurrentUser" item-end (click)="sendFriendRequest()">
          Send Request
        </button>
        <button ion-button *ngIf="!isUserAllowedToSendRequest" color="danger" [disabled]="true" item-end>
          Requested
        </button>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <a href="https://loading.io/spinner/magnify/-searching-for-loading-icon">spinner by loading.io</a>
</ion-footer>
