page-add-friend {

    ::-webkit-scrollbar{
        display: none;
    }

    ion-navbar.toolbar .button-inner {
      font-size: 25px;
      margin-left: 5px;
      -webkit-text-stroke: 3px white;
    }

    ion-footer {
      text-align: center;
      a, u {
        text-decoration: none;
      }
    }

    p.warning-message {
      font-weight: bold;
      font-size: 1.6rem;
      color: #f50057;
    }

    p.user-info {
      padding: 3%;
      font-size: 1.2rem;
    }

    .scroll-content {
      overflow: hidden;

      .searchbar-ios {
        padding: 0 8px;
        min-height: 44px;
        border-top: 0.55px solid lightgray;
        border-bottom: 0.55px solid lightgray;
        background: transparent;
      }

      ion-item {
        text-align: center;
      }
      .item-md {
        padding-left: 0;
        padding-right: 0;
      }
      .item-md.item-block .item-inner {
        border-bottom: none;
      }

      .item-ios {
        padding-left: 0;
        padding-right: 0;
      }
      .item-ios.item-block .item-inner {
        border-bottom: none;
      }
    }

}
