page-signup {

  .scroll-content {
    overflow: hidden;

    ion-list {
      vertical-align: middle;
      text-align: center;
    }
    ion-col {
      padding-left: 7%;
      padding-right: 7%;
    }

    .item-md {
      padding-left: 0;
      padding-right: 0;
    }
    .button-md {
      background: repeating-linear-gradient(30deg,  color($colors, fadedred, base), color($colors, mac, base));
    }
    .note-md {
      color: green;
      font-size: 30px;
    }
    .item-md.item-label-floating [item-end] {
      margin-top: 28px;
      margin-bottom: auto;
    }

    .item-ios {
      padding-left: 0;
      padding-right: 0;
    }
    .button-ios {
      background: repeating-linear-gradient(30deg,  color($colors, fadedred, base), color($colors, mac, base));
    }
    .button-ios {
      background-color: color($colors, pastelred, base);
    }
    .note-ios {
      color: green;
      font-size: 30px;
    }
    .item-ios.item-label-floating [item-end] {
      margin-top: 33px;
      margin-bottom: auto;
    }
  }
}

